#
node_modules/
.env

# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.swp
*.lock
*.xcuserstate